.navbar{
    height: 5rem;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    position:sticky;
    overflow: hidden;
    top: 0;
    z-index: 3;
    background: rgb(39, 36, 36);
}

.logo{
    object-fit: cover;
    height: 3rem;
    width: 4rem;

}
.DesktopMenu{
    margin: 1rem;
    font-size: 20px;
    cursor: pointer;

}
.desktopMenuImg{
    object-fit: cover;
    height: 1rem;
    margin: 5px;
    
}
.desktopMenuBtn{
    background-color: white;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.DesktopMenu:hover{
    color: yellow;
    font-size: 20px;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid red;
}
@media screen and (max-width:770px) {
    .navbar{
        height: 5rem;
        width: 100vw;
        max-width: 100%;
        margin: 0 auto;
        padding: 0rem 0rem;
        overflow-wrap: normal;
        display: flex;
        align-items: center; 
        justify-content:space-between;
        position:sticky;
        top: 0;
        z-index: 3;
    }
    
    .DesktopMenu{
        margin-left: 1rem;
        padding-left: 0rem;
        font-size: 10px;
        cursor: pointer;
    
    }
    .desktopMenuBtn{
        background-color: white;
        width: 30px;
        color: black;
        border-radius: 10px;
        cursor: pointer;
        height: 5px;
        font-size: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 10px;
    }
    .desktopMenuImg{
        object-fit: cover;
        height: 5px;
        padding: 1px;
        margin: 0px;
        
    }
    .logo{
        object-fit:fill;
        margin-right: 20px;
        height: 2rem;
        width: 5rem;
    
    }
    .desktopMenuList{
        margin-right: 30px;
        font-size: 30px;
    }
    .DesktopMenu:hover{
        color: yellow;
        font-size: 10px;
        padding-bottom: 0.5rem;
        border-bottom: 2px solid red;
    }
}
